<?xml version='1.0' encoding='ISO-8859-1'?>
<list>
<publication>
  <author><![CDATA[Centro Internacional de la Papa (CIP)]]></author>
  <title><![CDATA[Papa madre. Historia de una exposicion fotografica. History of a photographic exhibition]]></title>
  <series><![CDATA[]]></series>
  <conference><![CDATA[]]></conference>
  <year>2009</year>
  <category>Book</category>
<division></division>
  <imprint><![CDATA[]]></imprint>
  <publisher><![CDATA[Centro Internacional de la Papa]]></publisher>
  <isbn>978-92-9060-376-4</isbn>
  <issn></issn>
  <pages>151</pages>
  <price>30.00</price>
  <link><![CDATA[]]></link>
  <image>004755.jpg</image>
  <pdf></pdf>
  <PubCode>004755</PubCode>
  <Pub_EarthPrint><![CDATA[]]></Pub_EarthPrint>
  <PubStock>999</PubStock>
  <Pub_SaleNote><![CDATA[]]></Pub_SaleNote>
  <Pub_Abstract><![CDATA[]]></Pub_Abstract>
 </publication>
<publication>
  <author><![CDATA[Graves, C. (ed.).]]></author>
  <title><![CDATA[La papa tesoro de los Andes. De la agricultura  a la cultura.  (Reimpresion Nov 2006)]]></title>
  <series><![CDATA[]]></series>
  <conference><![CDATA[]]></conference>
  <year>2006</year>
  <category>Book</category>
<division></division>
  <imprint><![CDATA[]]></imprint>
  <publisher><![CDATA[Centro Internacional de la Papa]]></publisher>
  <isbn>92-9060-204-X</isbn>
  <issn></issn>
  <pages>210</pages>
  <price>60.00</price>
  <link><![CDATA[http://www.cipotato.org/publications/books/papa_tesoro_andes_online/]]></link>
  <image>003793.jpg</image>
  <pdf></pdf>
  <PubCode>003793</PubCode>
  <Pub_EarthPrint><![CDATA[http://www.earthprint.com/productfocus.php?id=CIP027]]></Pub_EarthPrint>
  <PubStock>827</PubStock>
  <Pub_SaleNote><![CDATA[]]></Pub_SaleNote>
  <Pub_Abstract><![CDATA[]]></Pub_Abstract>
 </publication>
<publication>
  <author><![CDATA[Balbotin Arenas, P.]]></author>
  <title><![CDATA[I custodi della biodiversita / The custodians of biodiversity / Los custodios de la biodiversidad.]]></title>
  <series><![CDATA[]]></series>
  <conference><![CDATA[]]></conference>
  <year>2003</year>
  <category>Book</category>
<division></division>
  <imprint><![CDATA[]]></imprint>
  <publisher><![CDATA[Edizioni Angolo Manzoni; FAO; Istituto Agronomico per l&#39;Otremare; CIP; Fondazione Italiana La Fotografia; Forum di Associazioni per la cultura.]]></publisher>
  <isbn>88-861142-95-1</isbn>
  <issn></issn>
  <pages>168</pages>
  <price>30.00</price>
  <link><![CDATA[]]></link>
  <image>002711.jpg</image>
  <pdf></pdf>
  <PubCode>002711</PubCode>
  <Pub_EarthPrint><![CDATA[http://www.earthprint.com/product.aspx?id=4217]]></Pub_EarthPrint>
  <PubStock>374</PubStock>
  <Pub_SaleNote><![CDATA[]]></Pub_SaleNote>
  <Pub_Abstract><![CDATA[]]></Pub_Abstract>
 </publication>
<publication>
  <author><![CDATA[Centro Internacional de la Papa (CIP); FEDECCH, Federacion Departamental de Comunidades Campesinas de Huancavelica]]></author>
  <title><![CDATA[Catalogo de variedades de papa nativa de Huancavelica-Peru]]></title>
  <series><![CDATA[]]></series>
  <conference><![CDATA[]]></conference>
  <year>2006</year>
  <category>Catalog</category>
<division></division>
  <imprint><![CDATA[]]></imprint>
  <publisher><![CDATA[Centro Internacional de la Papa]]></publisher>
  <isbn>92-9060-274-0</isbn>
  <issn></issn>
  <pages>206</pages>
  <price>30.00</price>
  <link><![CDATA[]]></link>
  <image>003524.jpg</image>
  <pdf>003524.pdf</pdf>
  <PubCode>003524</PubCode>
  <Pub_EarthPrint><![CDATA[http://www.earthprint.com/product.aspx?id=4228]]></Pub_EarthPrint>
  <PubStock>377</PubStock>
  <Pub_SaleNote><![CDATA[]]></Pub_SaleNote>
  <Pub_Abstract><![CDATA[]]></Pub_Abstract>
 </publication>
</list>