<?xml version='1.0' encoding='ISO-8859-1'?>
<list>
 <publication>
  <author><![CDATA[Low, J.W. (CIP).; Sub-Saharan Africa Regional Office, ; CIP]]></author>
  <title><![CDATA[SASHA. Breeding in Africa for Africa]]></title>
  <series><![CDATA[]]></series>
  <conference><![CDATA[]]></conference>
  <year>2009</year>
  <category>Fact sheets / flyer / leaflet</category>
  <imprint><![CDATA[]]></imprint>
  <publisher><![CDATA[International Potato Center]]></publisher>
  <isbn></isbn>
  <issn></issn>
  <pages>2</pages>
  <price>0</price>
  <link><![CDATA[]]></link>
  <image>004908.jpg</image>
  <pdf>004908.pdf</pdf>
  <PubCode>004908</PubCode>
  <Pub_EarthPrint><![CDATA[]]></Pub_EarthPrint>
  <PubStock>359</PubStock>
  <Pub_SaleNote><![CDATA[For more information contact:  Dr Robert Mwanga  r.mwanga@cgiar.or or  Dr Wolfgang Gruneber  w.gruneberg@cgiar.org]]></Pub_SaleNote>
  <Pub_Abstract><![CDATA[]]></Pub_Abstract>
 </publication>
 <publication>
  <author><![CDATA[Horton, D.; Prain, G. (CIP).; Thiele, G. (CIP).]]></author>
  <title><![CDATA[Perspectives on partnership: A literature review]]></title>
  <series><![CDATA[Social Sciences Working Paper 2009-3]]></series>
  <conference><![CDATA[]]></conference>
  <year>2009</year>
  <category>Working Paper</category>
  <imprint><![CDATA[]]></imprint>
  <publisher><![CDATA[International Potato Center]]></publisher>
  <isbn></isbn>
  <issn>0256-8748</issn>
  <pages>111</pages>
  <price>5.00</price>
  <link><![CDATA[]]></link>
  <image>004982.jpg</image>
  <pdf>004982.pdf</pdf>
  <PubCode>004982</PubCode>
  <Pub_EarthPrint><![CDATA[]]></Pub_EarthPrint>
  <PubStock>1</PubStock>
  <Pub_SaleNote><![CDATA[]]></Pub_SaleNote>
  <Pub_Abstract><![CDATA[Partnership is now considered an essential way of working in many fields and this literature review represents the first step in CIP&#39;s partnership research. The paper surveys contemporary literature useful for understanding and improving the roles of partnership and collaboration in the context of agricultural research for development. Conclusions and insights are grouped together from four distinct literatures: research studies; professional evaluation literature; practitioner-oriented reviews, guidelines and assessment tools; and CGIAR-related reviews, evaluations and policy documents. The paper also highlights gaps in current knowledge.]]></Pub_Abstract>
 </publication>
 <publication>
  <author><![CDATA[International Potato Center (CIP)]]></author>
  <title><![CDATA[La Ruta del Condor.A promising adaptation approach]]></title>
  <series><![CDATA[]]></series>
  <conference><![CDATA[]]></conference>
  <year>2009</year>
  <category>Brochure</category>
  <imprint><![CDATA[]]></imprint>
  <publisher><![CDATA[International Potato Center]]></publisher>
  <isbn></isbn>
  <issn></issn>
  <pages>6</pages>
  <price>0</price>
  <link><![CDATA[]]></link>
  <image>004985.jpg</image>
  <pdf>004985.pdf</pdf>
  <PubCode>004985</PubCode>
  <Pub_EarthPrint><![CDATA[]]></Pub_EarthPrint>
  <PubStock>108</PubStock>
  <Pub_SaleNote><![CDATA[]]></Pub_SaleNote>
  <Pub_Abstract><![CDATA[The Ruta Condor microcenters offer the opportunity to study and save native varieties in their native environment, in situ, where they are exposed to the natural stresses of seasonal variation and climate change]]></Pub_Abstract>
 </publication>
 <publication>
  <author><![CDATA[International Potato Center (CIP)]]></author>
  <title><![CDATA[Agriculture and soil carbon: Playing a major role in the mitigation of climate change]]></title>
  <series><![CDATA[]]></series>
  <conference><![CDATA[]]></conference>
  <year>2009</year>
  <category>Brochure</category>
  <imprint><![CDATA[]]></imprint>
  <publisher><![CDATA[International Potato Center]]></publisher>
  <isbn></isbn>
  <issn></issn>
  <pages>6</pages>
  <price>0</price>
  <link><![CDATA[]]></link>
  <image>004995.jpg</image>
  <pdf>004995.pdf</pdf>
  <PubCode>004995</PubCode>
  <Pub_EarthPrint><![CDATA[]]></Pub_EarthPrint>
  <PubStock>90</PubStock>
  <Pub_SaleNote><![CDATA[]]></Pub_SaleNote>
  <Pub_Abstract><![CDATA[New advances developed jointly by the International Potato Center and the Brazilian Agricultural Research Corporation (EMBRAPA)have made it possible to measure, monitor, and verify soil carbon levels on site and develop soil protection strategies to mitigate the greenhouse effect caused by the release of carbon into the atmosphere]]></Pub_Abstract>
 </publication>
 <publication>
  <author><![CDATA[International Potato Center (CIP)]]></author>
  <title><![CDATA[SPHI: Sweetpotato for Profit and Health Initiative.  Enhancing the lives of 10 million african families in 10 years]]></title>
  <series><![CDATA[]]></series>
  <conference><![CDATA[]]></conference>
  <year>2009</year>
  <category>Brochure</category>
  <imprint><![CDATA[]]></imprint>
  <publisher><![CDATA[International Potato Center]]></publisher>
  <isbn></isbn>
  <issn></issn>
  <pages>6</pages>
  <price>0</price>
  <link><![CDATA[]]></link>
  <image>005039.jpg</image>
  <pdf>005039.pdf</pdf>
  <PubCode>005039</PubCode>
  <Pub_EarthPrint><![CDATA[]]></Pub_EarthPrint>
  <PubStock>68</PubStock>
  <Pub_SaleNote><![CDATA[]]></Pub_SaleNote>
  <Pub_Abstract><![CDATA[In 2009 the International Potato Center (CIP) launched a major new Sweetpotato for Profit and Health Initiative (SPHI). The 10-year multi donor initiative focuses on reducing child malnutrition and improving smallholder incomes through the effective production and expanded use of sweetpotato in Sub-Saharan Africa. Breeding for resistance and improved nutritional quality, the release of new varieties, participatory breeding with local farmers for improved variety development and evaluation, and farmer training programs are just some of the components of the initiative which brings together a number of collaborating institutes.]]></Pub_Abstract>
 </publication>
 <publication>
  <author><![CDATA[International Potato Center (CIP)]]></author>
  <title><![CDATA[The organizatioal structure of the SPHI]]></title>
  <series><![CDATA[]]></series>
  <conference><![CDATA[]]></conference>
  <year>2009</year>
  <category>Fact sheets / flyer / leaflet</category>
  <imprint><![CDATA[]]></imprint>
  <publisher><![CDATA[International Potato Center]]></publisher>
  <isbn></isbn>
  <issn></issn>
  <pages>1</pages>
  <price>0</price>
  <link><![CDATA[]]></link>
  <image>005040.jpg</image>
  <pdf>005040.pdf</pdf>
  <PubCode>005040</PubCode>
  <Pub_EarthPrint><![CDATA[]]></Pub_EarthPrint>
  <PubStock>64</PubStock>
  <Pub_SaleNote><![CDATA[]]></Pub_SaleNote>
  <Pub_Abstract><![CDATA[]]></Pub_Abstract>
 </publication>
 <publication>
  <author><![CDATA[International Potato Center (CIP)]]></author>
  <title><![CDATA[NACRRI (National Crops Resources Research Institute)  Sweetpotato research activities at the National Crops Resources Research Institute (NACRRI)]]></title>
  <series><![CDATA[]]></series>
  <conference><![CDATA[]]></conference>
  <year>2009</year>
  <category>Fact sheets / flyer / leaflet</category>
  <imprint><![CDATA[]]></imprint>
  <publisher><![CDATA[Internationa Potato Center]]></publisher>
  <isbn></isbn>
  <issn></issn>
  <pages>2</pages>
  <price>0</price>
  <link><![CDATA[]]></link>
  <image>005041.jpg</image>
  <pdf>005041.pdf</pdf>
  <PubCode>005041</PubCode>
  <Pub_EarthPrint><![CDATA[]]></Pub_EarthPrint>
  <PubStock>66</PubStock>
  <Pub_SaleNote><![CDATA[]]></Pub_SaleNote>
  <Pub_Abstract><![CDATA[]]></Pub_Abstract>
 </publication>