[transmogrifier]
pipeline =
    personsource
    constructor
    schema
    formatsetter
    workflow
    reindexobject
    savepoint

directory = /home/ajussis/Develop/cip.cipotato/cip.cipotato/src/cip.policy/cip/policy

[personsource]
#blueprint = cip.policy.transmogrifier.personsource
blueprint = collective.transmogrifier.sections.csvsource
filename = ${transmogrifier:directory}/persons.csv
#type = Person
#author = admin

[csvsource]
blueprint = collective.transmogrifier.sections.csvsource
filename = ${transmogrifier:directory}/persons.csv

[urlnormalizer]
blueprint = plone.app.transmogrifier.urlnormalizer
source-key = title
destination-key = string:id
locale = string:es

[pathsetter]
blueprint = cip.policy.transmogrifier.pathsetter
container = testing

[constructor]
blueprint = collective.transmogrifier.sections.constructor

[schema]
blueprint = plone.app.transmogrifier.atschemaupdater

[formatsetter]
blueprint = cip.policy.transmogrifier.formatsetter
format = text/html

[workflow]
blueprint = plone.app.transmogrifier.workflowupdater

[reindexobject]
blueprint = plone.app.transmogrifier.reindexobject

[savepoint]
blueprint = collective.transmogrifier.sections.savepoint
every = 10

